<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- for media queries -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neighborhood Map</title>

  <!-- lodash template for html-webpack-plugin to inject styles.js -->
  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>

</head>
<body class="container">

  <div class="menuview">
    <div class="menu">
      <button class="menu-btn" data-bind="click: onMenuClick">Menu</button>
    </div>

    <aside class="aside" data-bind="visible: shouldShowMenu">
      <section class="listview" data-bind="with: listView">
        <h2>Locations</h2>
        <input class="listview-search" data-bind='value: locationFilter, valueUpdate: "afterkeydown"' placeholder="Search regexp" />
        <ul class="listview-locations" data-bind="foreach: filteredLocations">
          <li>
            <button class="listview-location" data-bind="text: label, click: $parent.onLocationClick"></button>
          </li>
        </ul>
      </section>

      <section class="adminview" data-bind="with: adminView">
        <h2>Admin <input type="checkbox" data-bind="checked: contentDisplayed" /></h2>
        <div class="adminview-content" data-bind="visible: contentDisplayed">
          <form data-bind="submit: geocodeAddress">
            <input data-bind='value: addressToGeocode, valueUpdate: "afterkeydown"' placeholder="Address to geocode" />
            <button type="submit" data-bind="enable: addressToGeocode().length > 0">Go</button>
          </form>
          <form data-bind="submit: geocodePlaceId">
            <input data-bind='value: placeIdToGeocode, valueUpdate: "afterkeydown"' placeholder="PlaceId to geocode" />
            <button type="submit" data-bind="enable: placeIdToGeocode().length > 0">Go</button>
          </form>
          <form data-bind="submit: goesearchLatlng">
            <div>
            <input data-bind='value: latLngToGeosearch, valueUpdate: "afterkeydown"' placeholder="LatLng to geosearch" />
            <button type="submit" data-bind="enable: latLngToGeosearch().length > 0">Go</button>
          </form>
          <form data-bind="submit: queryPageIds">
            <div>
            <input data-bind='value: pageIdsToQuery, valueUpdate: "afterkeydown"' placeholder="PageIds to query" />
            <button type="submit" data-bind="enable: pageIdsToQuery().length > 0">Go</button>
          </form>
          <div>
            <input data-bind='value: label, valueUpdate: "afterkeydown"' placeholder="Label" />
          </div>
          <div>
            <input data-bind='value: latLng, valueUpdate: "afterkeydown"' placeholder="MapsPlaceId" />
          </div>
          <button data-bind="click: addLocation, enable: (label().length && latLng().length) > 0">Add</button>
          <button data-bind="click: removeLocation, enable: label().length > 0">Remove</button>
        </div>
      </section>
    </aside>
  </div>

  <!-- the binding with ViewModel.mapView is added dynamically in ViewModel.js -->
  <main class="mapview">
    <div id="map"></div>
  </main>

  <!-- knockout.js template -->
  <script type="text/html" id="locationview-template">
    <h2 data-bind="text: label"></h2>
    <div id="street-view" data-bind="html: streetViewContent"></div>
    <div id="wikimedia" data-bind="html: wikimediaContent"></div>
  </script>

  <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
  <script async defer src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <script>
    /*
    - let's define:
    script1: <script ... src="https://maps.googleapis.com...>
    script2: <script ... src="bundle.js" >
    - dependencies
    script2 depends on script1 because we need to know the load status of google maps api in bundle.js
    script1 depends on our code (which is usually in bundle.js) because we need to provide sucess/failure callbacks to google maps api
    - so we use a promise here to break this dependency cycle:
    script1 (bundle.js) uses a then() on this promise
    and script2 resolve/reject the promise
    - since all JS code is executed in the same thread, and since 'defer' is used,
    all this JS code will be executed in the order defined in index.html
    the promise is only here to break the code dependency cycle
    */
    window.googleMapsPromise = new Promise((resolve, reject) => {
      window.onGoogleMapsSuccess = () => {
        resolve();
      };
      window.onGoogleMapsFailure = () => {
        reject();
      };
    });
  </script>

  <script async defer onerror="onGoogleMapsFailure()"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZkjL847cY6nQvRo2zhSdVYlMnC59JijA&v=3&callback=onGoogleMapsSuccess">
  </script>

  <!-- lodash template for html-webpack-plugin to inject bundle.js -->
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script async defer src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>

</body>
</html>
